<table>
  <tr>
    <th>Poll</th>
    <th>Number of votes</th>
  </tr>
  <% @poll.results.sort.each do |content, votes| %>
    <tr>
      <td><%= content %></td>
      <td><%= pluralize(votes.size, 'vote') %></td>
    </tr>
  <% end %>
</table>

<h2>Total</h2>

<% if @poll.results.keys.first.is_a?(Integer) %>
  <%= sprintf "%s, average is %.1f", pluralize(@poll.votes.size, 'vote'), @poll.average %>
<% else %>
  <%= pluralize(@poll.votes.size, 'vote') %>
<% end %>
