<table>
  <tr>
    <th>Choice</th>
    <th>Number of votes</th>
  </tr>
  <% @poll.results.sort.each do |content, votes| %>
    <tr>
      <td><%= content %></td>
      <td><%= pluralize(votes.size, 'vote') %></td>
    </tr>
  <% end %>
</table>

<h2>Total</h2>

<%=
  pluralize(@poll.current_votes.size, 'vote') +
    if @poll.can_have_average?
      format(", average: %.1f, standard deviation: %.1f",
             @poll.average, @poll.standard_deviation)
    else
      ""
    end
%>
