<h1>All results</h1>

<div id="asynch_results">Loading...</div>

<%=
  render partial: "polling", locals: {
    path: "/poll/total/#{@all.last.id}",
    interval: 3000,
    container_id: "asynch_results"
  }
%>

<br/>
<br/>
<br/>
<%= link_to "Create new poll", "/" %>
