<h1>All results</h1>

<% @numerical_votes = true if @all.first.can_have_average? %>

<table>
  <tr>
    <th>Poll</th>
    <% if @numerical_votes %>
      <th>Average</th>
    <% end %>
    <th>Votes</th>
  </tr>
  <% @all.each do |poll| %>
    <tr>
      <td><%= poll.title %></td>
      <% if @numerical_votes %>
        <td align="right"><%= format "%.1f", poll.average %></td>
        <td align="right"><%= poll.votes.map(&:content).map(&:to_i).sort.join(' ') %></td>
    <% else %>
        <td><%= poll.sum_up %></td>
    <% end %>
    </tr>
  <% end %>
</table>
