<h1>All results</h1>

<%=
  container_class = "liveupdate-#{rand(1_000_000_000)}"
  render partial: "polling", locals: {
    path: "/poll/total/#{@poll.id}",
    interval: 3000,
    container_class: container_class
  }
%>

<div class="<%= container_class %>">Loading...</div>

<br/>
<br/>
<br/>
<%= link_to "Create new poll", "/poll" %>
