<h1>The North Poll</h1>
<p>Simple voting for teams</p>

<%= form_with(url: 'poll') do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= submit_tag("Create new poll") %>
<% end %>
