<h1>Vote#index</h1>
<p>Find me in app/views/vote/index.html.erb</p>

<%= form_with(url: 'poll') do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= submit_tag("Create new poll") %>
<% end %>
