/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
    font-size: 20mm;
}

h2 {
    font-size: 16mm;
}

.appname {
    font-size: 30mm;
    vertical-align: top;
}

.radiotext {
    vertical-align: bottom;
}

.radiofield {
    vertical-align: text-top;
}

.rename-form {
    display: inline-flex;
}

.rename-form input {
    margin: 5mm 5mm;
}

input[type='radio'] {
    transform: scale(4);
    margin: 7mm 9mm 6mm 20mm;
}


* {
    font-size: 14mm;
}

.error {
    border: 3px solid red;
    width: fit-content;
}

.noborder {
    border: 0px;
}

.error-message {
    color: red;
}

.help {
    color: gray;
    font-size: 11mm;
}

.column {
    float: left;
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
