// Place all the styles related to the Poll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th {
    border: 1px solid black;
    padding: 10px;
}

td.noborder {
    border: 0px;
}

div.two-columns {
    column-count: 2;
    padding-top: 2mm;
    padding-bottom: 2mm;
}

.strikethrough {
    text-decoration: line-through;
}
